/** @format */

/* ! link font  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Peralta&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

:root {
  --blue: #4b40c5;
  --orange: #ec682c;
  --white: #fff;
  --black: #000;
  --radious-card-shadow: 0px 2.4631879329681396px 4.187419891357422px 0px
      rgba(0, 0, 0, 0),
    0px 10.838027954101562px 8.67042064666748px 0px rgba(0, 0, 0, 0.01),
    0px 26.60243034362793px 17.291582107543945px 0px rgba(0, 0, 0, 0.01),
    0px 51.234317779541016px 33.893463134765625px 0px rgba(0, 0, 0, 0.01),
    0px 86.2115707397461px 62.318668365478516px 0px rgba(0, 0, 0, 0.02),
    0px 133.0121612548828px 106.40972137451172px 0px rgba(0, 0, 0, 0.02);
  --card-colom-shadow: 0px 2.4631879329681396px 4.187419891357422px 0px
      rgba(0, 0, 0, 0),
    0px 10.838027954101562px 8.67042064666748px 0px rgba(0, 0, 0, 0.01),
    0px 26.60243034362793px 17.291582107543945px 0px rgba(0, 0, 0, 0.01),
    0px 51.234317779541016px 33.893463134765625px 0px rgba(0, 0, 0, 0.01),
    0px 86.2115707397461px 62.318668365478516px 0px rgba(0, 0, 0, 0.02),
    0px 133.0121612548828px 106.40972137451172px 0px rgba(0, 0, 0, 0.02);
}

/* ? header-container design starts here  */
header {
  background:url(img\ adventure.jpg) no-repeat 50% center;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0.9;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  margin-top: 48px;
  margin-left: 55px;
}

.logo a {
  color: var(--black);
  font-family: Peralta;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
}

.nav-list {
  flex: 1;
  text-align: right;
}

.nav-list ul li {
  list-style: none;
  display: inline-block;
  margin: 50px 54px 0px 13px;
}

nav ul li a {
  color: var(--1st, #212832);
  text-align: center;
  font-size: 22.612px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

nav ul li .btn-orange {
  border-radius: 8px;
  border: 1px solid var(--orange);
  background: var(--orange);
  height: 40px;
  padding: 8px 20px;
  color: var(--white);
  font-size: 22.612px;
  font-weight: 400;
}

/* *text box  */

.text-box {
  text-align: start;
  margin: 180px 0px 451px 41px;
  position: relative;
  top: 125px;
}

.text-box > h1 {
  color: #ffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 118.381px;
  letter-spacing: -1.92px;
}

.text-box > h2 {
  color: var(--white);
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-box > button {
  border-radius: 13.301px;
  background: #4b40c5;
  box-shadow: 0px 26.60243034362793px 46.55425262451172px 0px
    rgba(241, 165, 1, 0.15);
  color: #fff1da;
  text-align: center;
  font-family: Poppins;
  font-size: 23.942px;
  font-weight: 500;
  border: none;
  padding: 1rem;
  margin-top: 26px;
}

/* ? header-container design end here  */

/* todo main-container starts here  */
/* ? category-container starts here  */
.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 4rem auto;
  z-index: 500;
}

.category-container > p {
  color: var(--blue);
  font-size: 32px;
  font-weight: 700;
}

.category-container > h1 {
  color: var(--3rd, #14183e);
  font-size: 64px;
  font-weight: 700;
  text-transform: capitalize;
}

.category-cards-row {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 6rem auto;
}

.content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  width: 313.15px;
  height: 393.544px;
}

.content-card > h2 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  width: 201px;
  height: 33px;
}

.content-card > p {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 34.583px;
  width: 212px;
  height: 136px;
  margin-top: 16px;
}

.content-card > img {
  align-items: center;
}
.card-col {
  position: relative;
}
.card-col > .boder-orange {
  position: absolute;
  top: 313px;
  left: -50px;
  z-index: -1;
  width: 117.285px;
  height: 125.333px;
  border-radius: 39.904px 0px 13.301px 0px;
  background: var(--orange);
}
.card-col > .boder-blue {
  position: absolute;
  top: -30px;
  left: 225px;
  z-index: -1;
  width: 117.285px;
  height: 125.333px;
  border-radius: 0px 39.904px 0px 13.301px;
  background: #4b40c5;
}
 .radious-card > .back-image {
  position: relative;
  top: -15px;
  left: 20px;
  width: 58px;
  height: 60px;
  background: rgba(240, 187, 31, 0.3);
}
.radious-card > .left-img > img {
  position: absolute;
  top: -186px;
  left: -34px;
}
.radious-card > .right-img > img {
  position: absolute;
  top: 16px;
  left: -12px;
}
.radious-card > .left-img {
  border-radius: 6.651px 13.301px 6.651px 23.942px;
}
.radious-card > .right-img {
  border-radius: 6.651px 23.942px 6.651px 13.301px;
}
.radious-card {
  border-radius: 47.884px;
  background: var(--white, --white);
  box-shadow: var(--radious-card-shadow);
}

.category-container > .orange-color {
  border-radius: 39.904px 0px 13.301px 0px;
  background: var(--orange);
  width: 117.285px;
  height: 125.333px;
  z-index: 1000;
}
